.heading {
    text-align: center
}

.container {
    box-shadow: 4px 4px 4px 4px !important;
    margin-top: 40px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}

.profile {
    display: flex;
    margin-left: 3px;
}

.profile h4 {
    margin-top: 8vh;
}

.profile img {
    width: 20%;
    margin-left: -5%
}

.likeText {
    color: black;
}

.first {
    font-size: 113%
}

.likeLine {
    background: white;
    border-radius: 26px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.likeBtn {
    width: 25px;
    height: 25px;
}

.mobile {
    padding: 10px;
}

.image-container {
    margin-top: 22px;
    margin-bottom: 34px;
}

@media screen and (max-width: 768px) {


    .profile img {
        width: 42%;
        margin-left: -5%;
    }
}

@media screen and (max-width: 768px) {


    .profile img {
        width: 70%;
        margin-left: -5%;
    }
}