.mobile{
    display: none;
}
body{
    background: lightgray;
}
.body{
    width:60%;
    margin: auto;
}
.blue{
    color: blue;
}


@media (max-width: 768px) {
    .mobile{
        display: inline;

    }
    .first{
        display: none;
    }
    .body{
        width: 80% !important
    }
    .profile{
        width: 33% !important;
    }
    .mobile{
        font-size: 217% !important;
    }
    
}
@media (max-width: 425px) {
    .mobile{
        font-size: 116% !important;
    }

    
}
@media (max-width: 375px) {
    .mobile{
        font-size: 102% !important;
    }
}

@media (max-width: 320px) {
    .mobile{
        font-size: 82% !important;
    }
}