body{
    background: lightgray;
}
.body{
    width:60%;
    margin: auto;
}
@media (max-width: 768px) {
    .body{
        width: 80% !important
    }
    .profile{
        width: 33% !important;
    }
}